<div class="header">
    quoteo
</div>
<div class="wrapper">
    <%= link_to '+', new_quote_path %>
</div>
<div class="center">
    
    <% @quotes.each do |quote| %>
      <p>
        "<%= quote.text %>"
      </p>
    <% end %>
</div>