<div class="header">
    quoteo
</div>

<div class="center">
  <h1>New quote</h1>

  <%= form_with scope: :quote, url: quotes_path, local: true do |form| %>
    <p>
      <%= form.text_area :text %>
    </p>
  
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  <% if @quote.errors.any? %>
      <div id="error_explanation">
          <% @quote.errors.full_messages.each do |msg| %>
            <%= msg %>
          <% end %>
      </div>
    <% end %>
</div>
