// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
$roboto-slab: 'Roboto Slab', serif;
$center-cont: 'Quicksand', sans-serif;
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: rgb(251, 255, 227);

body {
  font: 100% $roboto-slab;
  color: $primary-color;
  background-color: $bg-color;
  margin: 0px;
  margin-top: 0px;
}

.center {
  text-align: center;
  padding-top: 80px;
}

p {
    font-family: $center-cont;
    font-size: 1.2em;
}

.header{
    background-color: #333;
    color: $bg-color;
    height: 50px;
    text-align: center;
    font-size: 2em;
    font-family: $roboto-slab;
    position: fixed;
    width: 100%;
    box-shadow: 0px 3px 10px grey;
    z-index: 2;
}

h1{
    padding: 7px;
}

a:link, a:visited {
    background-color: yellowgreen;
    color: bisque;
    height: 50px;
    text-align: center;
    font-size: 56px;
    font-family: $roboto-slab;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0px;
    -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50px;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 20px;
    -webkit-transition: top .2s; /* Safari */
    transition: top .2s;
    display: inline-block;
}

a:hover, a:active {
    top: 10px;
}

.wrapper {
    text-align: center;
    margin-right: 50px;
  }

textarea{
    width: 300px;
    height: 200px;
    border: none;
    box-shadow: inset 0em 0em .5em rgb(0, 0, 0);
    padding: 5px 5px;
    -moz-border-radius: 2%;
	-webkit-border-radius: 2%;
    border-radius: 2px;
}

input {
    border: none;
    background-color: #333;
    color: $bg-color;
    height: 30px;
    width: 100px;
    -moz-border-radius: 2%;
	-webkit-border-radius: 2%;
    border-radius: 2px;
}

input:hover{
    background-color: rgb(83, 83, 83);
}

#error_explanation{
    color: red;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
    width: 10%;
} 